<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="group.slsd.mapper.ownerVoMapper">
  <resultMap id="BaseResultMap" type="group.slsd.vo.OwnerVo">
   
    <id column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="hsize" jdbcType="REAL" property="hsize" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="pro" jdbcType="VARCHAR" property="pro" />
    <result column="hourse_id" jdbcType="INTEGER" property="hourseId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="iscar" jdbcType="BIT" property="iscar" />
    <result column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="cartype" jdbcType="VARCHAR" property="cartype" />
  </resultMap>
  <sql id="Base_Column_List">
    owner_id, owner_name, uname, pwd, hsize, num, tel, pro, hourse_id, address, iscar, 
    car_id, cartype
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from owner
    where owner_id = #{ownerId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from owner
    where owner_id = #{ownerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="group.slsd.vo.OwnerVo">

    insert into owner (owner_id, owner_name, uname, 
      pwd, hsize, num, tel, 
      pro, hourse_id, address, 
      iscar, car_id, cartype)
    values (#{ownerId,jdbcType=INTEGER}, #{ownerName,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{hsize,jdbcType=REAL}, #{num,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, 
      #{pro,jdbcType=VARCHAR}, #{hourseId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{iscar,jdbcType=BIT}, #{carId,jdbcType=INTEGER}, #{cartype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="group.slsd.vo.OwnerVo">

    insert into owner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="hsize != null">
        hsize,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="pro != null">
        pro,
      </if>
      <if test="hourseId != null">
        hourse_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="iscar != null">
        iscar,
      </if>
      <if test="carId != null">
        car_id,
      </if>
      <if test="cartype != null">
        cartype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="hsize != null">
        #{hsize,jdbcType=REAL},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="pro != null">
        #{pro,jdbcType=VARCHAR},
      </if>
      <if test="hourseId != null">
        #{hourseId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="iscar != null">
        #{iscar,jdbcType=BIT},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="cartype != null">
        #{cartype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.slsd.vo.OwnerVo">
   
   
    update owner
    <set>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="hsize != null">
        hsize = #{hsize,jdbcType=REAL},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="pro != null">
        pro = #{pro,jdbcType=VARCHAR},
      </if>
      <if test="hourseId != null">
        hourse_id = #{hourseId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="iscar != null">
        iscar = #{iscar,jdbcType=BIT},
      </if>
      <if test="carId != null">
        car_id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="cartype != null">
        cartype = #{cartype,jdbcType=VARCHAR},
      </if>
    </set>
    where owner_id = #{ownerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.slsd.vo.OwnerVo" >
    update owner
    set owner_name = #{ownerName,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      hsize = #{hsize,jdbcType=REAL},
      num = #{num,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      pro = #{pro,jdbcType=VARCHAR},
      hourse_id = #{hourseId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      iscar = #{iscar,jdbcType=BIT},
      car_id = #{carId,jdbcType=INTEGER},
      cartype = #{cartype,jdbcType=VARCHAR}
    where owner_id = #{ownerId,jdbcType=INTEGER}
  </update>
  
 
</mapper>